.global {
    background-color: gray;
    margin: 5px;
}

h1 {
    text-align: center;
    padding: 15px;
    margin: 5px;
    border: 2px black solid;
    background-color: #C6F7E0;
}

#site-content {
    display: flex;
}

#articles {
    background-color: #F5FEFA;
    border: 2px black solid;
    width: 50%;
    margin: 5px;
    text-align: center;
}

#today-feature{
    text-align: center;
    background-color: #C6F7E0;
    margin: 5px;
}

#news {
    background-color: #F5FAFF;
    border: 2px black solid;
    width: 50%;
    margin: 5px;
}