h1 {
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    background-color: #C6F7E0;
    text-align: center;
    padding: 25px;
    margin-top: 18px;
    margin-left: 260px;
    margin-right: 15px;
}

.global {
    display: flex;
    flex-wrap: wrap;
}

.green {
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    background-color: #C6F7E0;
    margin-left: 260px;
    margin-right: auto;
}

#col-1 {
    background-color: lawngreen;
    border-style: solid;
    margin: 100%;
    border-width: thin;
    border-color: darkgray;
}

.blue {
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    background-color: #CFEAFC;
}
